/*- FUENTE -*/
@font-face {
  font-family: 'goldplaymedium';
  src: url('fonts/goldplay_medium-webfont.woff2') format('woff2'),
       url('fonts/goldplay_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goldplayregular';
  src: url('fonts/goldplay_regular-webfont.woff2') format('woff2'),
       url('fonts/goldplay_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goldplaysemibold';
  src: url('fonts/goldplay_semibold-webfont.woff2') format('woff2'),
       url('fonts/goldplay_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-container {
  font-family: 'goldplayregular', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #f0f0f0;
  color: #333;
}
.user-container h4 {font-size: 2.5em;}
.user-container h5 {font-size: 1.75em;}

.date-container {
  font-family: 'goldplaymedium';
  color: #08426A;
  padding: 0 2em;
}
.date-container h3 {font-size: 1.62em;}
.date-container > .row {margin-bottom: .5em;}
.botonera {
  font-family: 'goldplaymedium', sans-serif;
  font-size: .9em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.event-container {
  padding: 1.5em 0 0;
  display: flex;
  align-items: start;
}
.event-container > div {flex-grow: 1;}
.contenedorHome {width: 19vw;}
.btn {border-radius: 50px;}
.card {
  border-radius: 12px;
  padding-bottom: .5em;
  margin: 8px;
}
.card-content {
  padding: 0 !important;
}
.card .card-title {
  font-family: 'goldplaysemibold';
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
}
.card a {
  font-size: 1em;
  font-family: 'goldplaymedium';
  padding: 0 .5em;
  margin: 0 12px;
}
.card-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.divider {margin: 5px 12px;}

/*- PALETA COLOR -*/
.bg-color-primary {background-color: #08426A;}
.color-primary {color: #08426A;}
.bg-cobranza {background-color: #6BA0D2;}
.bg-cobranza-light {background-color: #8AB5DD;}
.bg-cupos {background-color: #71898B;}
.bg-cupos-light {background-color: #A3B3B4;}
.bg-vencimientos {background-color: #DBB277;}
.bg-vencimientos-light {background-color: #E7CCA4;}
.bg-futuros {background-color: #74B5AF;}
.bg-futuros-light {background-color: #8FC4BF;}
.bg-eventos {background-color: #B65F50;}
.bg-eventos-light {background-color: #C9897E;}

/*Estilos Chips Hover y Active*/
.chip {cursor: pointer; transition: all .3s;}
.chip:hover, .active {box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);}

.chip.c-cobranzas:hover, .chip.c-cobranzas.active {background-color: #6BA0D2; color: white;}
.chip.c-cupos:hover, .chip.c-cupos.active {background-color: #71898B; color: white;}
.chip.c-vencimientos:hover, .chip.c-vencimientos.active {background-color: #DBB277; color: white;}
.chip.c-futuros:hover, .chip.c-futuros.active {background-color: #74B5AF; color: white;}
.chip.c-eventos:hover, .chip.c-eventos.active {background-color: #B65F50; color: white;}
.chip.c-todos:hover, .chip.c-todos.active {background-color: #08426A; color: white;}

/*Estilos para modales de detalle*/
.ReactModal__Body--open {
  /*width:  50vw;
  height: 50vh;*/
}
.ReactModal__Overlay--after-open {
  z-index: 1;/*para que el botón de "Ver Calendario" no quede por encima del modal*/
  
  /*CON GRID*/
  /*display: grid;
  justify-content: center;
  align-content: center;*/

  /*CON FLEX*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/

  /*CON INHERIT (respecto a la posición del contenedor padre)*/
  padding-top: 4em;

}
.modalHeader{
  color: white;
  font-family: 'goldplaysemibold';
  text-transform: uppercase;
  border-radius: 8px;
  padding: 2px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.ReactModal__Content {
  font-family: 'goldplaymedium';
  background-color: white;
  font-size: 1em;
  border-radius: 10px;
  padding: 12px;
  margin: 0 auto;
  width: 30vw;
  height: auto;
  box-shadow: 1px 2px 14px 3px rgba(0,0,0,0.38);
  -moz-box-shadow: 1px 2px 14px 3px rgba(0,0,0,0.38);
  -webkit-box-shadow: 1px 2px 14px 3px rgba(0,0,0,0.38);
}
.btnCerrarModal{
  color: white;
  background-color: transparent !important;
  padding: 6px 0 2px 0;
  border: none;
  cursor: pointer;
}
.itemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*border-bottom: solid thin #ADADAD;*//*se puede utilizar para reemplazar el <div className="divider"/> */
  padding: 4px 0;
}
.itemContainer > div:first-child {font-family: 'goldplaysemibold';}

.ReactModal__Content .divider {margin: 0;}

/*-- CHECKBOX SECTION --*/
.check_container {
  background-color: #F6F7F7;
  text-transform: uppercase;
  /*height: 100vh;*/
  border-right: solid thin #C9CBCD;
  color: #08426A;
}
.check_container label {font-family: 'goldplaymedium';  margin: 0 0 8px 20px; font-size: 16px; color: #08426A;}
.check_container h6 {font-size: 18px; font-family: 'goldplaysemibold', Arial, sans-serif; margin: 0 20px 20px; padding-top: 20px;}

/*- Color Chexboxs unchecked -*/
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  border: 2px solid #08426A;
}
/*- Color Chexboxs checked -*/
[type="checkbox"].filled-in.color-cobranzas:checked+span:not(.lever):after {
  border-color: #6BA0D2;
  background-color: #6BA0D2;
}
[type="checkbox"].filled-in.color-cupos:checked+span:not(.lever):after {
  border-color: #71898B;
  background-color: #71898B;
}
[type="checkbox"].filled-in.color-vencimientos:checked+span:not(.lever):after {
  border-color: #DBB277;
  background-color: #DBB277;
}
[type="checkbox"].filled-in.color-futuros:checked+span:not(.lever):after {
  border-color: #74B5AF;
  background-color: #74B5AF;
}
[type="checkbox"].filled-in.color-eventos:checked+span:not(.lever):after {
  border-color: #B65F50;
  background-color: #B65F50;
}
[type="checkbox"].filled-in.color-todos:checked+span:not(.lever):after {
  border-color: #08426A;
  background-color: #08426A;
}

/* CALENDARIO */
/*toolbar*/
.fc .fc-toolbar.fc-header-toolbar {
  font-family: 'goldplaymedium';
  padding: 16px;
  color: #08426A;
  margin-bottom: 0;
  background-color: #F6F7F7;
  border-bottom: solid thin;
}
/*botones toolbar*/
.fc .fc-button-primary:not(:disabled).fc-button-active {background-color: white; color: #08426A;}
.fc .fc-button-primary:disabled {color: #08426A;background-color: white;}
.fc-button-group > .fc-button {background-color: #F6F7F7; color: #08426A; border: hidden;}
.fc-button-group > .fc-button:hover {background-color: white; color: #6BA0D2;}
.fc-button-group > .fc-button::selection {color: #6BA0D2;}
.fc-button-group > .fc-button:focus {outline: solid #F6F7F7; }

.fc-direction-ltr .fc-button-group > .fc-button {padding: 4px 6px;}
.fc-direction-ltr .fc-button-group > .fc-button > span {font-size: 30px;}
.fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  border: none; background-color: #F6F7F7; color: #08426A;
}

.fc .fc-view-harness-active > .fc-view {background-color: #F6F7F7;}
.fc .fc-toolbar-title {font-size: 2em;}
.fc .fc-view-harness a {color: #08426A;}
.fc .fc-daygrid-day-number {color: #08426A;}
.fc .fc-col-header-cell-cushion {font-family: 'goldplaysemibold'; font-size: 1.2em; text-transform: uppercase; margin: 20px 0;}

h2.fc-toolbar-title::first-letter {text-transform: uppercase;}

/* Ubicación txt Día en vista día */
.fc-timeGridDay-view .fc-scrollgrid-sync-inner {text-align: left;}
.fc-timeGridDay-view .fc-scrollgrid-sync-inner a {margin-left: 10px;}
/*-------------*/
/* Eliminar primera columna tabla */
table.fc-col-header colgroup {display: none;}
tbody colgroup {display: none;}
span.fc-timegrid-axis-cushion {display: none;}
.fc-direction-ltr .fc-timegrid-slot-label-frame {display: none;}

thead tr th.fc-timegrid-axis {display: none;} /*elimino  primer columna thead*/
tbody tr td.fc-timegrid-axis {display: none;} /*elimino  primer columna tbody*/
thead tr th .fc-day-sat a {color: #F1644A !important;}
thead tr th .fc-day-sun a {color: #F1644A !important;}
tbody tr td .fc-day-sat .fc-daygrid-day-top a {color: #F1644A;}
tbody tr td .fc-day-sun .fc-daygrid-day-top a {color: #F1644A;}

.fc-timeGridWeek-view .fc-scrollgrid-section-liquid {display:none;} /*elimino fila final vista semana*/
.fc-timeGridDay-view .fc-scrollgrid-section-liquid {display: none;} /*elimino fila final vista dia*/

/* Día actual */
.fc-timeGridWeek-view .fc-daygrid-day {height: 100vh;}
.fc-timeGridWeek-view .fc-daygrid-day.fc-day-today {background-color: rgba(107, 160, 210, .1);} 
.fc-timeGridDay-view .fc-daygrid-day.fc-day-today {background-color: rgba(107, 160, 210, .1);}
.fc-dayGridMonth-view .fc-daygrid-day.fc-day-today {background-color: rgba(107, 160, 210, .1);}

.fc-timeGridWeek-view .fc-col-header-cell {border-bottom: none;}
.fc-timeGridWeek-view thead tr {border: none;}
.fc-dayGridMonth-view thead tr th{border-bottom: solid thin #F6F7F7;}

.fc-timeGridWeek-view thead th .fc-day-today {background-color: rgba(107, 160, 210, .1);}
.fc-timeGridWeek-view .fc-day-today a.fc-col-header-cell-cushion  {background-color: #08426A; color: #fff; border-radius: 4px; padding: 0 4px;} 
.fc-timeGridDay-view .fc-daygrid-day-frame {margin-bottom: 0; background-color: #F6F7F7;}
/*-------------*/

.fc .fc-daygrid-day-top {
  justify-content: center;
  font-family: 'goldplaysemibold';
  font-size: 1.25em;
  margin: 12px 0;
}
.fc-h-event .fc-event-title-container {font-family: 'goldplaymedium'; padding: 2px 4px; font-size: 16px;}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-top a {
  background-color: #08426A;
  color: white;
  border-radius: 4px;
  padding: 0 4px;
}
.color-red{
  color : red!important
}


/* Estilos tablas */
table {
  border:none;
 }
.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #C9CBCD;
}
.fc-theme-standard td.fc-timegrid-slot {
  border-collapse: collapse;
  border: hidden;
}

.fc .fc-daygrid-event-harness {
  margin: 6px !important;
  border-radius: 6px;
  cursor: pointer;
}
.fc-daygrid-event {border-radius: 8px; padding: 2px 4px;transition: All 0.2s ease;-webkit-transition:All 0.2s ease;-moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
.fc-daygrid-event:hover {box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);}
.fc-h-event {border: none;}

/* Tabla vista anual */
table.table_year, table.table_year tr td {vertical-align: top;}
table.table_year h2.fc-toolbar-title {font-family: 'goldplaysemibold'; font-size: 1.2em;}
table.table_year .fc-header-toolbar {border-bottom: none !important; border-top-left-radius: 6px; border-top-right-radius: 6px;}
table.table_year tr {border-bottom: none;}
table.table_year .fc-col-header-cell a {font-size: 1em;}

/*-- Ajustes responsive --*/
@media screen and (max-width: 1200px) {
  .ReactModal__Content {width: 40vw;}
}

@media screen and (max-width: 992px) {
  .ReactModal__Content {width: 50vw;}
  .event-container {flex-wrap: wrap;}
  .contenedorHome {width: 40vw;}
}

@media screen and (max-width: 720px) {
  .ReactModal__Content {width: 80vw;}
  .event-container {flex-wrap: wrap;}
  .contenedorHome {width: 90vw;}
  .btn {margin-top: 20px;}
}

.eventoCobranza{
  background-color: #6BA0D2;
}

.eventoCupo{
  background-color: #71898B;

}

.eventoVencimiento{
  background-color: #DBB277;

}

.eventoFuturo{
  background-color: #74B5AF;
}