/*- FUENTE -*/
@font-face {
  font-family: 'goldplaymedium';
  src: url('fonts/goldplay_medium-webfont.woff2') format('woff2'),
       url('fonts/goldplay_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goldplayregular';
  src: url('fonts/goldplay_regular-webfont.woff2') format('woff2'),
       url('fonts/goldplay_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goldplaysemibold';
  src: url('fonts/goldplay_semibold-webfont.woff2') format('woff2'),
       url('fonts/goldplay_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.date-container {
  font-family: 'goldplaymedium';
  color: #08426A;
  padding: 0 2em;
}
.date-container h3 {font-size: 1.62em;}
.user-container {
  font-family: 'goldplayregular', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #f0f0f0;
  color: #333;
}
.user-container h4 {font-size: 2.5em;}
.user-container h5 {font-size: 1.75em;}
.event-container {
  padding: 1.5em;
}
.botonera {
  font-family: 'goldplaymedium';
  font-size: .9em;
  padding: 0 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
/*
.event-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  padding: 1em;
}*/
.contenedorHome, a{
  display: block;
}

.btn {
  border-radius: 50px;
}
.card {
  border-radius: 12px;
  padding-bottom: .5em;
}
.card-content {
  padding: 0 !important;
}
.card .card-title {
  font-family: 'goldplaysemibold';
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
}
.card a {
  font-size: 1em;
  font-family: 'goldplaymedium';
  padding: 0 1em;
}
.card-title {
  background-color: brown;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*- PALETA COLOR -*/
.bg-color-primary {
  background-color: #08426A;
}
.color-primary {
  color: #08426A;
}
.bg-cobranza {
  background-color: #5795CE;
}
.bg-cobranza-light {
  background-color: #7AABD8;
}
.bg-cupos {
  background-color: #D4D0CD;
}
.bg-cupos-light {
  background-color: #D9D9D9;
}
.bg-vencimientos {
  background-color: #FBE09E;
}
.bg-vencimientos-light {
  background-color: #FCEABC;
}
.bg-futuros {
  background-color: #74B5AF;
}
.bg-futuros-light {
  background-color: #8FC4BF;
}
.bg-eventos {
  background-color: #755A56;
}
.bg-eventos-light {
  background-color: #D9D9D9;
}


/*- TEST -*/
.chip {cursor: pointer; transition: all .3s;}
.chip:hover, .active {box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);}

.chip.c-cobranzas:hover {background-color: #5795CE; color: white;}
.chip.c-cupos:hover {background-color: #D4D0CD;}
.chip.c-vencimientos:hover {background-color: #FBE09E;}
.chip.c-futuros:hover {background-color: #74B5AF; color: white;}
.chip.c-eventos:hover {background-color: #755A56; color: white;}
.chip.c-todos:hover {background-color: #08426A; color: white;}

.chip.c-todos.active {background-color: #08426A; color: white;}